@import "./variables.scss";

@mixin theme-button($background: #fff, $color-text: var(--bg-color), $background-hover: #cfc3c333) {
    font-size: $font-size-card-text;
    font-family: $font-primary;
    font-weight: bold;
    border-radius: $border-radius;
    background-color: $background;
    color: $color-text;
    border:1px solid var(--bg-color);
    cursor: pointer;

    &:hover {
        background-color: $background-hover;
        color: $background;
        border: 1px solid $background;
        box-shadow: $shadow-background-list; 
    }
}

@mixin theme-container($width-container, $margin-container, $background-container, 
                       $border-container, $border-radius) {
    width: $width-container;
    margin: $margin-container;
    background-color: $background-container;
    border: $border-container;
    border-radius: $border-radius;
}

@mixin theme-header($padding-head, $color-head, $font-size-header, $font-family-head, $margin-head: 0) {
    padding: $padding-head;
    margin: $margin-head;
    color: $color-head;
    font-size: $font-size-header;
    font-family: $font-family-head;
}