@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

body {
    background-color: $color-secondary;
}

.board {
    max-width: 2440px;
    width: 90%;
    margin: 20px auto;
    background-color: $color-background;
    border: 2px solid $color-secondary;
    border-radius: $border-radius;
    box-shadow: $shadow-background;
    

    &__header {
        padding: 15px;
        border-bottom: 1px solid $color-text-card;
        border-radius: $border-radius;
        color: $color-primary;
        box-shadow: $shadow-secondary;
        background-color: $color-dark;
        font-size: $font-size-head;
        font-family: $font-primary;
        margin: 0;
    }

    &__lists {
        margin: 10px auto 0 auto;
        padding: 10px;
        display: flex;
        overflow-x: auto;
        div {
            display: flex;
        }
    }

    &__create-button {
        @include theme-button;
        align-self:flex-start;
        margin: 10px auto;
    }
}