@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.home {
    @include theme-container($width-container: 90%, $margin-container: 20px auto,
        $background-container: $color-primary,
        $border-container: 4px solid var(--bg-color),
        $border-radius: $border-radius);
    max-width: 2440px;
    box-shadow: $shadow-background;


    &__header {
        @include theme-header($padding-head: 15px, $color-head: $color-dark, $font-size-header: $font-size-head,
            $font-family-head: $font-primary);
        text-align: center;
    }

    &__boards {
        width: 90%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        justify-content: center;
    }

    &__button {
        @include theme-button($background-hover: var(--bg-color));
        justify-self: center;
        margin: 10px 10px;
        flex-shrink: 0;
        width: 200px;
        height: 100px;
    }

    &__dialog {
        max-width: 1800px;
        width: 40%;
        background-color: $color-primary;
        border: 4px solid var(--bg-color);
        border-radius: $border-radius;

        &__header {
            @include theme-header($padding-head: 10px, $color-head: $color-dark, $font-size-header: $font-size-head,
                $font-family-head: $font-primary);
            padding-right: 0;
        }

        &__form {
            @include theme-header($padding-head: 0, $color-head: black, $font-size-header: $font-size-head-list,
                $font-family-head: $font-primary);
            font-weight: bold;
            padding-right: 0;
            display: block;
            padding-left: 10px;
        }

        &__input {
            border-radius: $border-radius;
            outline: none;
            max-width: 50%;
            margin-left: 15px;
        }

        &__input:focus {
            border: 2px solid var(--bg-color);
            border-radius: $border-radius;
        }

        &__buttons {
            display: flex;
            justify-content: right;
            padding: 15px 0;
            gap: 5px;
        }

        &__button {
            @include theme-button($background-hover: var(--bg-color));
            flex-shrink: 0;
            padding: 5px;
        }
    }

    @media screen and (max-width:768px) {
        &__dialog {
            width: 60%;
        }
    }
}

.custom_file_input {
    color: transparent;
}

.custom_file_input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom_file_input::before {
    content: 'Select some files';
    color: #136CF1;
    display: inline-block;
    background: #f9f9f9;
    border: 2px solid #136CF1;
    border-radius: 12px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom_file_input:hover::before {
    border-color: black;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    color: black;
}

.custom_file_input:active {
    outline: 0;
}

.custom_file_input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.imgBack {
    width: 100px;
    height: 80px;
    border: 2px solid #136CF1;
    border-radius: 12px;
    display: block;
    margin: 10px;
}