@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.home {
    @include theme-container($width-container: 90%, $margin-container: 20px auto,
        $background-container: $color-primary,
        $border-container: 4px solid $color-background,
        $border-radius: $border-radius);
    max-width: 2440px;
    box-shadow: $shadow-background;


    &__header {
        @include theme-header($padding-head: 15px, $color-head: $color-dark, $font-size-header: $font-size-head,
            $font-family-head: $font-primary);
        text-align: center;
    }

    &__boards {
        width: 90%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: center;
    }

    &__button {
        @include theme-button($background-hover: $color-background);
        justify-self: center;
        margin: 10px 10px;
        flex-shrink: 0;
        width: 200px;
        height: 100px;
    }

    &__dialog {
        width: 40%;
        background-color: $color-primary;
        border: 4px solid $color-background;
        border-radius: $border-radius;

        &__header {
            @include theme-header($padding-head: 15px, $color-head: $color-dark, $font-size-header: $font-size-head,
                $font-family-head: $font-primary);
            padding-bottom: 5px;
            padding-right: 0;
        }

        &__form {
            @include theme-header($padding-head: 15px, $color-head: black, $font-size-header: $font-size-head-list,
                $font-family-head: $font-primary);
            font-weight: bold;
            padding-right: 0;
        }

        &__input {
            border-radius: $border-radius;
            outline: none;
            max-width: 50%;
        }

        &__input:focus {
            border: 2px solid $color-background;
            border-radius: $border-radius;
        }

        &__buttons {
            display: flex;
            justify-content: right;
            padding: 15px 0;
            gap: 5px;
        }

        &__button {
            @include theme-button($background-hover: $color-background);
            flex-shrink: 0;
            padding: 5px;
        }
    }
}