@import "../../../../../../src/styles/variables.scss";
@import "../../../../../../src/styles/mixins.scss";

p,
h3 {
    margin: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(95, 95, 95, 0.5);

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: aliceblue;
        padding: 20px;
        width: 30%;
        max-width: 500px;
        // height: 60%;
        max-height: 60%;
        border: 2px solid var(--bg-color);
        border-radius: $border-radius;
        overflow-y: auto;
        gap: 10px;

        @media screen and (max-width:1024px) {
            width: 50%;
        }

        @media screen and (max-width:768px) {
            width: 80%;
        }

        &__close {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 35px;
            height: 35px;
            color: rgb(139, 144, 147);
            font-size: 25px;
            cursor: pointer;
            font-weight: bold;
            border: 2px solid gray;
            border-radius: 50%;
            background-color: aliceblue;
            padding: 0;

            &:hover {
                color: var(--bg-color);
                border-color: var(--bg-color);
            }
        }

        &__form {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;

            h2 {
                @include theme-header($padding-head: 5px, $color-head: var(--bg-color), $font-size-header: $font-size-head,
                    $font-family-head: $font-primary);
                padding-left: 0;
            }

            label {
                @include theme-header($padding-head: 0, $color-head: #616060, $font-size-header: $font-size-card-text,
                    $font-family-head: $font-primary);
                font-weight: bold;
                display: flex;
                flex-direction: column;
            }

            textarea {
                @include theme-header($padding-head: 5px, $color-head: var(--bg-color), $font-size-header: $font-size-card-text,
                    $font-family-head: $font-primary);
                border: 1px solid var(--bg-color);
                border-radius: $border-radius;
                // width: 120%;
                resize: vertical;
            }

            select {
                @include theme-header($padding-head: 5px, $color-head: var(--bg-color), $font-size-header: $font-size-card-text,
                    $font-family-head: $font-primary);
                border: 1px solid var(--bg-color);
                border-radius: $border-radius;
                cursor: pointer;

                &:hover {
                    background-color: var(--bg-color);
                    color: $color-primary;
                }

                option {
                    background-color: $color-primary;
                    color: var(--bg-color);
                }
            }

            &__buttonMove {
                @include theme-button($background-hover: var(--bg-color));
                padding: 5px;
            }
        }
    }
}