@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.hidden {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.selected {
    opacity: 1;
}

.card {
    @include theme-container($width-container: 90%, $margin-container: 7.5px auto,
        $background-container: $color-primary,
        $border-container: 1px solid $color-primary,
        $border-radius: $border-radius);
    background-color: rgb(255, 255, 255);

    &__textCard {
        @include theme-header($padding-head: 5px, $color-head: $color-text-card, $font-size-header: $font-size-card-text,
            $font-family-head: $font-primary);
        display: block;
        width: 95%;
        max-height: 50px;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid $color-primary;
        border-radius: $border-radius;
        word-break: break-all;
        display: flex;
        justify-content: space-between;

        p {
            width: 90%;
        }

        &:active {
            background-color: rgba(128, 128, 128, 0.475);
            border: 1px solid $color-primary;
            border-radius: $border-radius;
            width: 95%;
            transform: rotate(0deg);
        }

        &__editButton {
            width: 30px;
            height: 30px;
            padding: 5px;
            background-image: url("../../../../common/images/editButton.svg");
            background-position: center;
            background-repeat: no-repeat;
            border: 0;
            border-radius: $border-radius;
            cursor: pointer;
        }
    }

    &:hover {
        background-color: rgb(205, 205, 205);
        cursor: pointer;
    }

    &__greySlot {
        @extend .card;
        background-color: rgba(128, 128, 128, 0.475);
        color: rgba(128, 128, 128, 0);
        min-height: 30px;
        max-height: 50px;
        overflow-y: auto;
        overflow-x: hidden;
        word-break: break-all;
        pointer-events: none;
    }

    &__ghost {
        @extend .card;
        background-color: rgba(128, 128, 128, 0.475);
        max-height: 50px;
        overflow-y: auto;
        overflow-x: hidden;
        word-break: break-all;
        color: black;
        position: absolute;
        left: -9999px;
        width: 217px;
        border: 2px dashed #c1c7d0;
    }

    &__input {
        @include theme-header($padding-head: 5px, $color-head: $color-text-card, $font-size-header: $font-size-card-text,
            $font-family-head: $font-primary);
        background-color: rgb(205, 205, 205);
        border: 1px solid $color-primary;
        border-radius: $border-radius;
        width: 100%;
        resize: vertical;
    }

    &__dragging {
        background-color: #92939600;
        border: none;
        // border: 2px dashed #c1c7d0;
        box-shadow: none;
        color: transparent;
        opacity: 1;
        cursor: grabbing;
        padding: 0;
        margin: 0 auto;
        height: 0px;
        overflow: hidden;
    }

    &__dragging>* {
        opacity: 0;
        pointer-events: none;
    }
}