@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.card {
    @include theme-container($width-container: 90%, $margin-container: 7.5px auto,
        $background-container: $color-primary,
        $border-container: 1px solid $color-primary,
        $border-radius: $border-radius);
    box-shadow: $shadow-primary;

    &__textCard {
        @include theme-header($padding-head: 5px, $color-head: $color-text-card, $font-size-header: $font-size-card-text,
            $font-family-head: $font-primary);
            display: block;
            width: 100%;
            max-height: 50px;
            overflow-y: auto;
            overflow-x: hidden;
    }

    &:hover {
        background-color: rgb(205, 205, 205);
        cursor: pointer;
    }

    &__input {
        @include theme-header($padding-head: 5px, $color-head: $color-text-card, $font-size-header: $font-size-card-text,
            $font-family-head: $font-primary);
        background-color: rgb(205, 205, 205);
        border: 1px solid $color-primary;
        border-radius: $border-radius;
    }
}