@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.hidden {
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.selected {
  opacity: 1;
}

.card {
  @include theme-container(
    $width-container: 90%,
    $margin-container: 0 auto,
    $background-container: $color-primary,
    $border-container: 1px solid $color-primary,
    $border-radius: $border-radius
  );
  background-color: rgb(255, 255, 255);
  &:hover {
    background-color: rgb(205, 205, 205);
    cursor: pointer;
  }
}

.textCard {
  @include theme-header(
    $padding-head: 5px,
    $color-head: $color-text-card,
    $font-size-header: $font-size-card-text,
    $font-family-head: $font-primary
  );
  width: 95%;
  // max-height: 100px;
  // overflow-y: auto;
  // overflow-x: hidden;
  border: 1px solid $color-primary;
  border-radius: $border-radius;
  word-break: break-word;
  display: flex;
  justify-content: space-between;
  gap: 5px;

  p {
    width: 85%;
    align-self: center;
  }

  &:active {
    background-color: rgba(128, 128, 128, 0.475);
    border: 1px solid $color-primary;
    border-radius: $border-radius;
    width: 95%;
    transform: rotate(0deg);
  }
}

.containerButton {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.actionButton {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-image: url('../../../../assets/editButton.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
}

.deleteButton {
  background-image: url('../../../../assets/delete_icon.svg');
}

.checkEmpty {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('../../../../assets/emptyCircle.svg');

  &:hover {
    background-color: $color-primary;
  }
}

.checkFilled {
  background-color: transparent;
  background-image: url('../../../../assets/checkCircle.svg');

  &:hover {
    background-color: $color-primary;
  }
}

.taskCompleted {
  text-decoration: line-through;
}

.greySlot {
  @extend .card;
  background-color: rgba(128, 128, 128, 0.475);
  color: rgba(128, 128, 128, 0);
  min-height: 30px;
  max-height: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  pointer-events: none;
}

.ghost {
  @extend .card;
  background-color: rgba(128, 128, 128, 0.475);
  max-height: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  color: black;
  position: absolute;
  left: -9999px;
  width: 217px;
  border: 2px dashed #c1c7d0;
}

.input {
  @include theme-header(
    $padding-head: 5px,
    $color-head: $color-text-card,
    $font-size-header: $font-size-card-text,
    $font-family-head: $font-primary
  );
  background-color: rgb(255, 255, 255);
  border: 1px solid $color-primary;
  border-radius: $border-radius;
  max-width: 100%;
  width: 95%;
  resize: vertical;
}

.CardModal {
  width: 100%;
}

.dragging {
  background-color: #92939600;
  border: none;
  box-shadow: none;
  color: transparent;
  opacity: 1;
  cursor: grabbing;
  padding: 0;
  margin: 0 auto;
  height: 0px;
  overflow: hidden;
}

.dragging > * {
  opacity: 0;
  pointer-events: none;
}
