@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.card {
    margin: 20px auto;
    padding-bottom: 50px;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: $border-radius;
    box-shadow: $shadow-primary;

    &__text-card {
        padding-top: 5px;
        font-size: $font-size-card-text;
        font-family: $font-primary;
        color: $color-text-card;
    }
}