@import "../../../../../src/styles/variables.scss";
@import "../../../../../src/styles/mixins.scss";

p,
h3 {
    margin: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(95, 95, 95, 0.5);

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: aliceblue;
        padding: 20px;
        width: 70%;
        max-width: 1950px;
        border: 1px solid var(--bg-color);
        border-radius: $border-radius;
        max-height: 80%;
        overflow-y: auto;

        @media screen and (max-width:768px) {
            flex-direction: column;
            gap: 40px;
        }

        &__close {
            position: absolute;
            right: 15px;
            top: 10px;
            width: 35px;
            height: 35px;
            color: rgb(139, 144, 147);
            font-size: 25px;
            cursor: pointer;
            font-weight: bold;
            border: 2px solid gray;
            border-radius: 50%;
            background-color: aliceblue;
            padding: 0;

            &:hover {
                color: var(--bg-color);
                border-color: var(--bg-color);
            }
        }

        &__block_info {
            display: flex;
            flex-direction: column;
            width: 60%;

            @media screen and (max-width:768px) {
                width: 90%;
            }

            .header {
                display: flex;
                flex-direction: column;
                border: 2px solid var(--bg-color);
                border-radius: $border-radius;
                padding: 5px;

                @media screen and (max-width:768px) {
                    width: 75%;
                }

                h2 {
                    @include theme-header($padding-head: 5px, $color-head: var(--bg-color), $font-size-header: $font-size-head,
                        $font-family-head: $font-primary);
                    cursor: pointer;
                    align-self: flex-start;
                    padding-bottom: 0;
                    padding-left: 0;

                    &:hover {
                        background-color: var(--bg-color);
                        border-radius: $border-radius;
                        color: $color-primary;
                    }
                }

                p {
                    @include theme-header($padding-head: 0, $color-head: $color-text-list, $font-size-header: $font-size-card-text,
                        $font-family-head: $font-primary);
                }

                span {
                    text-decoration: underline;
                    color: var(--bg-color);
                }
            }

            .members {
                display: flex;
                flex-direction: column;
                padding-top: 20px;

                &__header {
                    @include theme-header($padding-head: 0x, $color-head: $color-text-list, $font-size-header: $font-size-card-text,
                        $font-family-head: $font-primary);
                    font-weight: bold;
                    padding-left: 0;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    list-style-type: none;
                    margin: 0;
                    padding-left: 5px;
                    align-items: center;
                    overflow-y: auto;
                    max-height: 100px;
                }

                li {
                    display: inline-block;
                    border-radius: 50%;
                    color: transparent;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }

                &__addMember {
                    border: 2px solid rgb(148, 146, 146);
                    border-radius: 50%;
                    color: rgb(148, 148, 148);
                    width: 30px;
                    height: 30px;
                    font-size: 20px;
                    cursor: pointer;
                    background-color: aliceblue;

                    &:hover {
                        color: var(--bg-color);
                        border-color: var(--bg-color);
                    }
                }
            }

            .description {
                display: flex;
                flex-direction: column;
                padding-top: 5px;

                &__header {
                    display: flex;
                    gap: 5px;
                    padding-left: 0;

                    h3 {
                        @include theme-header($padding-head: 0x, $color-head: $color-text-list, $font-size-header: $font-size-card-text,
                            $font-family-head: $font-primary);
                        font-weight: bold;
                        align-content: flex-end;

                    }

                    button {
                        @include theme-button;
                        background-color: aliceblue;
                        padding: 5px;
                        color: rgb(125, 125, 125);
                        border: 2px solid rgb(125, 125, 125);
                        margin-left: auto;

                        &:hover {
                            color: var(--bg-color);
                            border: 2px solid var(--bg-color);
                        }
                    }
                }

                &__content {
                    @include theme-header($padding-head: 0x, $color-head: $color-text-list, $font-size-header: $font-size-card-text,
                        $font-family-head: $font-primary);
                    padding-left: 10px;
                    max-height: 100px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    word-break: break-all;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(204, 210, 210);
                        border-radius: $border-radius;
                    }
                }
            }
        }

        &__block_actions {
            display: flex;
            flex-direction: column;
            width: 30%;
            gap: 10px;
            justify-content: center;
            align-items: end;

            @media screen and (max-width:768px) {
                width: 90%;
                align-items: center;
                align-self: center;
            }

            h3 {
                @include theme-header($padding-head: 0x, $color-head: $color-text-list, $font-size-header: $font-size-card-text,
                    $font-family-head: $font-primary);
                font-weight: bold;
                text-align: center;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                list-style-type: none;
                padding: 5px 0 0 0;
                margin: 0;

                @media screen and (max-width:768px) {
                    flex-direction: row;
                }

                @media screen and (max-width:576px) {
                    flex-direction: column;
                }
            }

            .action {
                @include theme-button;
                width: 125px;
                background-color: aliceblue;
                padding: 5px;
                color: rgb(125, 125, 125);
                border: 2px solid rgb(125, 125, 125);
                text-align: center;

                &:hover {
                    color: var(--bg-color);
                    border: 2px solid var(--bg-color);
                }
            }

            .deleteButton {
                color: red;
                border: 2px solid red;

                &:hover {
                    color: white;
                    background-color: red;
                }
            }
        }
    }
}